.bannerTextContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 4.5rem;
    max-height: 10%;
}

.banner30Container{
    flex: 30%;
    position: relative;
}

.banner70Container{
    flex: 70%;
    position: relative;
}

.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s;
    &:hover{
        border:2px solid black;
        background-color: white;
        color: black;
    }
}

.imageBannerContainer{
    flex: 100%;
}

.textBannerContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 90%;
    text-align: center;
}

@media (max-width: 600px) {
    .bannerTextContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    
    .bannerTextContainer > .banner70Container{
        width: 100%;
    }
    .bannerTextContainer > .banner30Container{
        width: 100%;
    }
    
    .banner30Container > .textBannerContainer{
        min-width: 90%;
        text-align: center;
        position: relative;
        margin-top: 30%;
    }
}